.page {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/background.png");
    color: #fefefe;
    font-size: 36;
    
    font-size: 130%;
    text-align: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    min-height: 100%;
    height: fit-content;

    background-size: cover;
    overflow: hidden;
}

a {
    color: #bababa;
}

ul {
    list-style-type: none;
    padding: 0;
}
.button {
	transition-duration: 0.4s;
}
.button:hover {
	background-color: rgb(168, 168, 168);
	color: black;
}
footer {
	text-align: center;
	padding: 3px;
	background-color: linear-gradient(rgb(129, 8, 150), rgb(184, 11, 214));
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
}
h1 {
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 133, 133));
    -webkit-text-fill-color: transparent;
    background-clip: text;
	-webkit-background-clip: text;
}

h2 {
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 133, 133));
    -webkit-text-fill-color: transparent;
    background-clip: text;
	-webkit-background-clip: text;
}
