.text {
    padding-left: 100px;
}
.button {
    background-color: rgb(105, 105, 105);
    border-radius: 8px;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
header {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(98, 20, 122);
  color: white;
}

.sidebar {
    height: calc(100% - 40px);
    width: 10%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: rgba(0, 0,0, 0.5);
}

sidebar a {
    color: #bababa;
    transition: border 200ms, color 200ms;
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
}

sidebar a:hover {
    border-bottom: 3px solid white;
    color: white;
}

header a[href='#'] {
    border-bottom: 3px solid white;
    color: white;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.docmid {
    width: 50%;
    margin-left: 25%;
    text-align: left;
}
